@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

:root {
    --cor00: #0B0F39;
    --cor01: #0F44AB;
    --cor02: #A6BADC;
    --cor03: #FA2942;
    --cor04: #F5C087;
    --cor05: #78042B;
    --fonte-titulo: 'Noto Serif', serif;
    --fonte-cursiva: 'Caveat', cursive;
    --fonte-texto: Arial, Helvetica, sans-serif;
}

* { 
    margin: 0px;
    padding: 0px;
    outline: 0px;
    border: 0px;
}

body {
    background-color: #a6badc5d;;
    font-family: var(--fonte-texto);
    text-align: justify;
    margin: auto;
}

header {
    background-image: linear-gradient(to bottom, var(--cor01), var(--cor00));
    height: 130px;
    padding-top: 30px;
    text-align: center;
}

nav {
    display: block;
    padding: 12px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.336);
 }

 nav > a {
    font-family: var(--fonte-titulo);
    font-size: bolder;
    color: var(--cor02);
    text-decoration: none;
    margin: 10px;
 }

 nav a:hover{
    color: var(--cor00);
    background-color: var(--cor02);
    transition-duration: 0.2s;
    border-radius: 10%;
    padding: 2px;
 }


header h1 {
    font-size: 32px;
    color: var(--cor02);
    text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.479);
    font-family: var(--fonte-titulo);
    text-align: center;
}

h2#titulo {
    font-size: 30px;
    color: var(--cor02);
    text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.479);
    font-family: var(--fonte-cursiva);
}

article {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 300px;
    max-width: 1000px;
    background-color: var(--cor02);
    padding-bottom: 10px;
}

article h2{
    background-image: linear-gradient(to right, var(--cor00), var(--cor05));
    font-family: var(--fonte-titulo);
    text-align: left;
    color: var(--cor02);
    padding-left: 10px;
    text-shadow: 1px 3px 4px black;
}

article p {
    font-family: var(--fonte-texto);
    margin: 20px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.4em;
}

h3 {
    font-family: var(--fonte-cursiva);
    font-size: 24px;
    padding-left: 30px;
}

ol {
    padding-left: 30px;
    columns: 2;
    list-style-position: inside;
    list-style-type: decimal-leading-zero;
}

footer{
    padding-top: 5px;
    background-color: var(--cor05);
    border-radius: 1px;
    font-family: var(--fonte-texto);
    font-weight: bold;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor02);
}